<h1>List of Stories</h1>


<ol>
<% @stories.each do |story| %>
  <li><%= story.name %></li>
  <ul>
    List of tasks:
    <% story.tasks.each do |task| %>
      <li> 
        <%= task.title %>
      </li>
    <% end %>
  </ul>
<% end %>
</ol>