<p id="notice"><%= notice %></p>
<h1><%= @project.name %></h1>

<% @project.stories.each do |story| %>
  <ul>
    <li><%= story.name %></li>
    <% story.tasks.each do |task| %>
      <%= task.title %>
    <% end %>
  </ul>
<% end %>



<hr>