<h2> <%= link_to story.name, story %> <%= link_to 'Delete Story', story, :method => :delete, :confirm => 'Are you sure?' %> </h2>
<h3><%= link_to '+', new_task_path(:story_id => story.id) %></h3>
<div class="span12">
  <div class="row">
    <% sorted_stories = Hash[story.tasks.group_by(&:status).sort] %>
    <% (1..4).each do |status| %>
      <div class="span3">
        <%= render 'tasks/task_status_column', :sorted_stories => sorted_stories, :status => status %>
      </div>
    <% end %>
  </div>
</div>
