<h2> <%= story.name %> <%= link_to '+', new_task_path(:story_id => story.id) %> </h2>
<div class="span12">
  <div class="row">
    <% sorted_stories = Hash[story.tasks.group_by(&:status).sort] %>
    <% (1..4).each do |status| %>
      <div class="span3">
        <%= render 'tasks/task_status_column', :sorted_stories => sorted_stories, :status => status %>
      </div>
    <% end %>
  </div>
</div>
