// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background: none repeat scroll 0 0 #202020;
    margin: 0;
    text-align: left;
	font-family: Geneva,Arial,Helvetica,sans-serif;
}

li {
  list-style: none;

}

ul {
  margin: 10px;
  padding: 10px;
}